#one-line-div div.tile, #full-board-div div.tile{
    position: relative;
    
}
#one-line-img #full-board-img{
    position: absolute;
    object-fit: fill;
    width: max-content;
}
.tile{
    display: inline-block;
    position: relative;
}

#holder-img{
    margin: auto;
    display: block;
    position: absolute;
    left: 25%;
    top: 200px; 
    object-fit: fill;
      
    height: 110px;
    width: 700px;
}
#holder-div{
    display: block;  
    align-items: center;
    text-align: center;

    float: center;
}

.tile img, td{
    width: 65px;
    height: 72px;
}
.tile img{
    object-fit: contain;
}
table{
    position: relative;
    top: -1340px;
    left : 200px;
}
td{

    border: 3px solid black;

}